<section class="mt-5">
    <div class="container">
      <h1>Job Seeker Application Form</h1>
      <form method="post" action="/apply/<%= id %>" enctype="multipart/form-data" >
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullName" name="name" placeholder="Enter Full Name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address">
        </div>
        <div class="mb-3">
          <label for="resume" class="form-label">Upload Resume (Optional)</label>
          <input type="file" class="form-control" name="resume" id="resume">
        </div>
        <button type="submit" class="btn btn-primary">Submit Application</button>
      </form>
    </div>
  </section>